body.reports-studio-mode .top-tabs {
  display: none;
}

.reports-studio-shell {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.reports-studio-content {
  flex: 1;
  min-width: 0;
  margin-left: 280px;
}

@media (max-width: 1023px) {
  .reports-studio-content {
    margin-left: 0;
    padding-top: 64px;
  }
}
