version: '3.9'

services:
  db:
    image: ankane/pgvector:0.5.1
    environment:
      POSTGRES_USER: report_user
      POSTGRES_PASSWORD: report_pass
      POSTGRES_DB: report_generator
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./ops/db/init.sql:/docker-entrypoint-initdb.d/10-init.sql:ro
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    command: redis-server --save 20 1 --loglevel warning
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

  storage:
    image: minio/minio:RELEASE.2024-09-22T00-33-43Z
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address :9001
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - s3-data:/data

  storage-init:
    image: minio/mc:RELEASE.2024-09-22T00-31-21Z
    depends_on:
      - storage
    entrypoint: /bin/sh
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
      S3_BUCKET: report-generator
    command: -c "chmod +x /init/create-bucket.sh && /init/create-bucket.sh"
    volumes:
      - ./ops/storage/create-bucket.sh:/init/create-bucket.sh:ro

volumes:
  db-data:
  redis-data:
  s3-data:
